
th{
 text-wrap: nowrap !important;
}

@media  screen and (max-width:991px) {
 .blocking_users_content .container {
   max-width: 920px !important;
  }
}
@media screen and (min-width:992px) {
 .blocking_users_content .container {
  max-width: 1220px !important;
 }
}